/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body
  background-size: cover
  background-repeat: no-repeat
  &.bg1
    background-image: url(image-path('colorful_backgrounds/bg1.jpg'))
  &.bg2
    background-image: url(image-path('colorful_backgrounds/bg2.jpg'))
  &.bg3
    background-image: url(image-path('colorful_backgrounds/bg3.jpg'))
  &.bg4
    background-image: url(image-path('colorful_backgrounds/bg4.jpg'))
  &.registrations, &.passwords, &.sessions
    .modal
      display: block
      position: relative

.form-check-input-lg
  transform: scale(1.33)

i.fa, i.glyphicon
  padding-left: 4px
  padding-right: 4px
